<div class="p-5">
  <div class="flex justify-between items-center max-w-7xl m-auto">
    <a routerLink="/">
      <img src="../../../assets/images/Leaffy.png" alt="Leaffy" class="w-20" />
    </a>
    <nav></nav>
    <div>
      <a
        *ngIf="!isAuth"
        routerLink="/login"
        class="px-4 py-[6px] bg-neutral-800 hover:bg-green-800 duration-200 text-white rounded-sm"
        >Login</a
      >
      <div *ngIf="isAuth" class="flex gap-4 items-center">
        <a routerLink="/user/{{ user._id }}">{{ user.username }}</a>
        <button
          class="px-4 py-[6px] bg-neutral-800 hover:bg-green-800 duration-200 text-white rounded-sm"
          (click)="logout()"
        >
          Log out
        </button>
      </div>
    </div>
  </div>
</div>
